---
import Page from "@components/pages/Page.astro";
import collections from "@lib/collections";
import type { Background } from "../../types";
import { useTranslations } from "@i18n/utils";
import Table from "@components/table/Table.astro";
import TableRulebook from "@components/table/TableRulebook.astro";
import TableTraits from "@components/table/TableTraits.astro";
import TableAoN from "@components/table/TableAoN.astro";
import TableName from "@components/table/TableName.astro";

const t = useTranslations();
const rawItems = collections.background.map((item) => item.data as Background);
const items = rawItems.sort((a, b) => a.name.localeCompare(b.name));
---

<Page title={t("pages.backgrounds")}>
    <h1 class="text-4xl font-bold">{t("pages.backgrounds")}</h1>
    <Table
        titles={[
            t("tables.name"),
            t("tables.source"),
            t("tables.traits"),
            "AoN",
        ]}>
        {
            items.map((item) => (
                <tr>
                    <TableName item={item} />
                    <TableRulebook item={item} />
                    <TableTraits item={item} />
                    <TableAoN item={item} />
                </tr>
            ))
        }
    </Table>
</Page>
