---
import { getCollection, render } from "astro:content";
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const actions = await getCollection("action");
  const ancestries = await getCollection("ancestry");
  const archetypes = await getCollection("archetype");
  const armors = await getCollection("armor");
  const articles = await getCollection("article");
  const backgrounds = await getCollection("background");
  const classes = await getCollection("classes");
  const conditions = await getCollection("condition");
  const creatures = await getCollection("creature");
  const creatureFamilies = await getCollection("creatureFamily");
  const deities = await getCollection("deity");
  const equipments = await getCollection("equipment");
  const feats = await getCollection("feat");
  const hazards = await getCollection("hazard");
  const rules = await getCollection("rules");
  const shields = await getCollection("shield");
  const skills = await getCollection("skill");
  const sources = await getCollection("source");
  const spells = await getCollection("spell");
  const traits = await getCollection("trait");
  const weapons = await getCollection("weapon");

  return [
    ...actions,
    ...ancestries,
    ...archetypes,
    ...armors,
    ...articles,
    ...backgrounds,
    ...classes,
    ...conditions,
    ...creatures,
    ...creatureFamilies,
    ...deities,
    ...equipments,
    ...feats,
    ...hazards,
    ...rules,
    ...shields,
    ...skills,
    ...sources,
    ...spells,
    ...traits,
    ...weapons,
  ].map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <article>
    <h1>{post.data.name}</h1>
    <div set:html={marked.parse(post.data?.content)} />
    <Content />
  </article>
</Layout>
