---
import Page from "@components/pages/Page.astro";
import collections from "@lib/collections";
import type { Ancestry } from "../../types";
import Table from "@components/table/Table.astro";
import { useTranslations } from "@i18n/utils";
import TableAoN from "@components/table/TableAoN.astro";
import TableTraits from "@components/table/TableTraits.astro";
import TableRulebook from "@components/table/TableRulebook.astro";
import TableName from "@components/table/TableName.astro";
const t = useTranslations();
const rawAncestries = collections.ancestry.map(
    (ancestry) => ancestry.data as Ancestry,
);
const ancestries = rawAncestries.sort((a, b) => a.name.localeCompare(b.name));
---

<Page title={t("pages.ancestries")}>
    <h1 class="text-4xl font-bold">{t("pages.ancestries")}</h1>
    <Table
        titles={[
            t("tables.name"),
            t("tables.source"),
            t("tables.traits"),
            "AoN",
        ]}>
        {
            ancestries.map((ancestry) => (
                <tr>
                    <TableName item={ancestry} customIcon />
                    <TableRulebook item={ancestry} />
                    <TableTraits item={ancestry} />
                    <TableAoN item={ancestry} />
                </tr>
            ))
        }
    </Table>
</Page>
