@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@font-face {
  font-family: PFIcons;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Pathfinder-Icons.ttf") format("truetype");
}