---
import { useTranslations } from "@i18n/utils";
import DisplayInfo, { type DisplayInfoProps } from "./DisplayInfo.astro";
const t = useTranslations();
interface Props {
    items: DisplayInfoProps[];
}
const { items } = Astro.props;

const isEmptyList = (items: DisplayInfoProps[]) =>
    items.every((item) => !item.content);
---

{
    !isEmptyList(items) && (
        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-bold">{t("page.titles.mechanics")}</h2>
            {items.map(
                (item) =>
                    item.content && (
                        <DisplayInfo
                            title={item.title}
                            content={item.content}
                            type={item.type}
                        />
                    ),
            )}
        </div>
        <hr />
    )
}
