---
import DrawerMenuContentSide from "./DrawerMenuContentSide.astro";
---

<div class="drawer-side">
  <label
    for="my-drawer-3"
    aria-label="close sidebar"
    class="drawer-overlay"
  ></label>
  <ul class="menu bg-base-200 min-h-full w-80 p-4">
    <DrawerMenuContentSide/>
  </ul>
</div>