---
import { menu } from "@lib/config";
import ThemeButton from "@components/ui/ThemeButton.astro";
import { Icon } from 'astro-icon/components'
---

<div class="navbar bg-base-300 w-full">
  <div class="flex-none lg:hidden">
    <label
      for="my-drawer-3"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>
  <div class="mx-2 flex-1 px-2 justify-between" id="navbar-panel">
    <a href={"/"} class="btn btn-ghost text-xl" id="title">
      PF2DB
    </a>
    <button class="btn md:hidden" id="search-button">
      <Icon name="lucide:search" />
    </button>
    <div id="search" class="hidden md:block"></div>
    <div id="mobile-search" class="hidden"></div>
    <script>
      import {PagefindUI} from '@pagefind/default-ui'
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: '#search', showSubResults: true });
      });
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: '#mobile-search', showSubResults: true });
      });
      const button = document.getElementById('search-button')
      const searchBar = document.getElementById('mobile-search')
      const title = document.getElementById('title')
      const navbarPanel = document.getElementById('navbar-panel')


      button?.addEventListener('click', ()=>{
        button.classList.add('hidden')
        title?.classList.add('hidden')
        navbarPanel?.classList.remove('justify-between')
        searchBar?.classList.replace('hidden','block')
      })
    </script>
  </div>
  <div class="hidden flex-none lg:block">
    <ul class="menu menu-horizontal">
      {menu
        .sort((a, b) => a.order - b.order)
        .map((item) => (
          <li>
            <a href={"/" + item.link}>{item.name}</a>
          </li>
        ))}
    </ul>
    <ThemeButton />
  </div>
</div>