---
import {getActions} from '../../utils'
const { action } = Astro.props;

interface Props {
  /**
   * The action associated with the item (optional).
   * @example 1 - action, 2 two actions, 3 - three actions, 4 - free action, 5 - reaction
   */
  action?: number;
}
---

<div class="flex flex-row items-center">
  <!-- {!action ? '' : <span class="action-icon mr-2 text-xl">{getActions(action)}</span>}<span><slot/></span> -->
  {!action ? '' : <span class="mr-2 text-xl"><Fragment set:html={getActions(action,'1.75rem')} /></span>}<span><slot/></span>
</div>