---
import Layout from "../layouts/Layout.astro";
import SocialCard from "@components/home/SocialCard.astro";
import UpdatesCard from "@components/home/UpdatesCard.astro";
import ChangelogList from "@components/home/ChangelogList.astro";
---

<Layout>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
        <div id="updates" class="flex flex-col gap-2">
            <h2 class="text-xl font-bold">Оновлення</h2>
            <UpdatesCard />
        </div>
        <div id="changelog" class="flex flex-col gap-2">
            <h2 class="text-xl font-bold">Changelog</h2>
            <ChangelogList />
        </div>
        <div id="media" class="flex flex-col gap-2">
            <h2 class="text-xl font-bold">Медіа</h2>
            <SocialCard />
        </div>
    </div>
</Layout>
