---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <div class="col-span-full">
        <div id="search" class="hidden md:block">
            <div class="pagefind-ui">
                <form class="pagefind-ui__form">
                    <input
                        class="pagefind-ui__search-input"
                        type="text"
                        placeholder="Search"
                    />
                    <button class="pagefind-ui__search-clear">Clear</button>
                    <div class="pagefind-ui__drawer">
                        <div class="pagefind-ui__results-area">
                            <p class="pagefind-ui__message">
                                "1,787 results for c"
                            </p>
                            <ol class="pagefind-ui__results">
                                <li class="pagefind-ui__result">
                                    <div class="pagefind-ui__result-thumb">
                                    </div>
                                    <div class="pagefind-ui__result-inner">
                                        <p class="pagefind-ui__result-title">
                                            <a href="/rules/1j1ti9r56t47he0/">
                                                Casting Cantrips from a Staff
                                            </a>
                                        </p>
                                        <p class="pagefind-ui__result-excerpt">
                                            <mark>Casting</mark>
                                            <mark>Cantrips</mark> from a Staff GM
                                            <mark>Core</mark> Rules. remaster <mark
                                                >Casting</mark
                                            >
                                            <mark>Cantrips</mark> from
                                        </p>
                                    </div>
                                </li>
                            </ol>
                            <button type="button" class="pagefind-ui__button">
                                Load more results
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</Layout>
