---

---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
    <aside>
        <p>
            PF2EDB
            <br />
            Українська локалізація
        </p>
    </aside>
    <nav>
        <h6 class="footer-title">Право</h6>
        <a class="link link-hover">Community Use Policy</a>
        <a class="link link-hover">OGL / ORC License</a>
        <a class="link link-hover">Інші ліцензії</a>
    </nav>
</footer>
