---
import { Icons } from "@lib/iconMap";
---

<div class="card card-border bg-base-300">
    <div class="card-body">
        <ul class="list rounded-box shadow-md">
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
                Ініціатива RPGUA
            </li>
            <li class="list-row">
                <div>
                    <Icons.Home class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Домашня сторінка</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA
                    </div>
                </div>
                <a
                    href="https://rpgua.github.io/"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Github class="size-10 rounded-box" />
                </div>
                <div>
                    <div>GitHub</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA
                    </div>
                </div>
                <a
                    href="https://github.com/rpgua"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Telegram class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Telegram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA
                    </div>
                </div>
                <a
                    href="https://t.me/+K0nrbUH7IowwZGEy"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Telegram class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Telegram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA | ЧАТ 💬
                    </div>
                </div>
                <a
                    href="https://t.me/+CkrhgLizpI8yMTgy"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
                Деніз та Дайс
            </li>
            <li class="list-row">
                <div>
                    <Icons.X class="size-10 rounded-box" />
                </div>
                <div>
                    <div>X/Twitter</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Bluesky class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Bluesky</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Instagram class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Instagram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Youtube class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Youtube</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Github class="size-10 rounded-box" />
                </div>
                <div>
                    <div>GitHub</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <Icons.Telegram class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Telegram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <Icons.ExternalLink class="size-[1.2em]" />
                </a>
            </li>
        </ul>
    </div>
</div>
