---
import BlueskyLogo from "@assets/icons/fa6-brands--bluesky.svg";
import InstagramLogo from "@assets/icons/fa6-brands--instagram.svg";
import YoutubeLogo from "@assets/icons/fa6-brands--youtube.svg";
import GithubLogo from "@assets/icons/fa6-brands--github.svg";
import TelegramLogo from "@assets/icons/fa6-brands--telegram.svg";
import XLogo from "@assets/icons/fa6-brands--x-twitter.svg";
import ExternalLink from "@assets/icons/lucide--external-link.svg";
import HomeLogo from "@assets/icons/lucide--home.svg";
---

<div class="card card-border bg-base-300">
    <div class="card-body">
        <ul class="list rounded-box shadow-md">
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
                Ініціатива RPGUA
            </li>
            <li class="list-row">
                <div>
                    <HomeLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Домашня сторінка</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA
                    </div>
                </div>
                <a
                    href="https://rpgua.github.io/"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <GithubLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>GitHub</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA
                    </div>
                </div>
                <a
                    href="https://github.com/rpgua"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <TelegramLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Telegram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA
                    </div>
                </div>
                <a
                    href="https://t.me/+K0nrbUH7IowwZGEy"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <TelegramLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Telegram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Ініціатива RPGUA | ЧАТ 💬
                    </div>
                </div>
                <a
                    href="https://t.me/+CkrhgLizpI8yMTgy"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
                Деніз та Дайс
            </li>
            <li class="list-row">
                <div>
                    <XLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>X/Twitter</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <BlueskyLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Bluesky</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <InstagramLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Instagram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <YoutubeLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Youtube</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <GithubLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>GitHub</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
            <li class="list-row">
                <div>
                    <TelegramLogo class="size-10 rounded-box" />
                </div>
                <div>
                    <div>Telegram</div>
                    <div class="text-xs uppercase font-semibold opacity-60">
                        Деніз та Дайс
                    </div>
                </div>
                <a
                    href="https://twitter.com/denizp"
                    target="_blank"
                    class="btn btn-square btn-ghost">
                    <ExternalLink class="size-[1.2em]" />
                </a>
            </li>
        </ul>
    </div>
</div>
