---
import BasePage from "@components/pages/BasePage.astro";
import collections from "@lib/collections";
import type { Class } from "../../types";

const rawClasses = collections.class_.map((class_) => class_.data as Class);
const classes = rawClasses.sort((a, b) => a.name.localeCompare(b.name));
---

<BasePage title="Класи">
    <h1 class="text-4xl font-bold">Класи</h1>

    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {
            classes.map((class_) => (
                <div class="card card-border bg-base-200 w-full">
                    <div class="card-body">
                        <h2 class="card-title">{class_.name}</h2>
                        <p>{class_.original_name}</p>
                        <div class="card-actions justify-end">
                            <a
                                href={`/classes/${class_.id}`}
                                class="btn btn-primary">
                                Більше
                            </a>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</BasePage>
