---
import AonLogo from "@assets/NethysMask.svg";
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div class="fab">
  <a
    href={`https://2e.aonprd.com${url}`}
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-lg btn-circle btn-primary"
    ><AonLogo width={32} height={32} /></a
  >
</div>
