---
import { getCollection } from 'astro:content';
import type { Trait } from "../types";
interface Props {
  trait: string | string[] | undefined;
}

const { trait } = Astro.props;

const allTraits = await getCollection("trait")

let traitData: any[] = [];
if (trait) {
  traitData = allTraits.filter((item) => {
    if (typeof trait === "string") {
      return trait === item.data.name;
    } else {
      return trait.includes(item.data.name);
    }
  });
}

const colors = {
    common: 'btn btn-soft',
    uncommon: 'btn btn-soft btn-warning',
    rare: 'btn btn-soft btn-primary',
    unique: 'btn btn-soft btn-secondary'
}
---
<div id="traits" class="flex flex-row gap-2 not-prose">
{
  typeof trait === "string" ? (
    <a href={`/traits/${traitData[0].data.id}`} class={colors[traitData[0].data.rarity as keyof typeof colors]}>{traitData[0].data.name}</a>
  ) : (
    traitData.map((t) => <a href={`/traits/${t.id}`} class={colors[t.data.rarity as keyof typeof colors]}>{t.data.name}</a>)
  )
}
</div>