@font-face {
    src: url(/pf2e/fonts/Ermilov.otf);
    font-family: 'Ermilov';
}

@font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url('/pf2e/fonts/FixelText-Thin.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('/pf2e/fonts/FixelText-ExtraLight.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('/pf2e/fonts/FixelText-Light.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/pf2e/fonts/FixelText-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/pf2e/fonts/FixelText-Medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('/pf2e/fonts/FixelText-SemiBold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('/pf2e/fonts/FixelText-Bold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('/pf2e/fonts/FixelText-ExtraBold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'FixelText';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('/pf2e/fonts/FixelText-Black.woff2') format('woff2');
  }