---
import Page from "@components/pages/Page.astro";
import collections from "@lib/collections";
import type { ArcaneThesis } from "../../types";
import { useTranslations } from "@i18n/utils";
import Table from "@components/table/Table.astro";
import TableRulebook from "@components/table/TableRulebook.astro";
import TableTraits from "@components/table/TableTraits.astro";
import TableAoN from "@components/table/TableAoN.astro";
import TableName from "@components/table/TableName.astro";

const t = useTranslations();
const rawArcaneThesises = collections.arcaneThesis.map(
    (arcaneThesis) => arcaneThesis.data as ArcaneThesis,
);
const arcaneThesises = rawArcaneThesises.sort((a, b) =>
    a.name.localeCompare(b.name),
);
---

<Page title={t("pages.arcane-thesises")}>
    <h1 class="text-4xl font-bold">{t("pages.arcane-thesises")}</h1>
    <Table
        titles={[
            t("tables.name"),
            t("tables.source"),
            t("tables.traits"),
            "AoN",
        ]}>
        {
            arcaneThesises.map((arcaneThesis) => (
                <tr>
                    <TableName item={arcaneThesis} />
                    <TableRulebook item={arcaneThesis} />
                    <TableTraits item={arcaneThesis} />
                    <TableAoN item={arcaneThesis} />
                </tr>
            ))
        }
    </Table>
</Page>
