---
import Trait from "@components/Trait.astro";
import getTraits from "@lib/getTraits";
interface Props {
    item: any;
}

const { item } = Astro.props;
---

<td>
    <div class="flex flex-wrap gap-2">
        {getTraits(item).map((trait) => <Trait trait={trait} />)}
    </div>
</td>
