---
import Layout from "@layouts/Layout.astro";
import { creationCharacterMenu } from "@lib/config";


export async function getStaticPaths() {
  return [];
}
---

<Layout>
  <ul class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 col-span-12">
    {creationCharacterMenu.map((item) => (
      <li>
        <div class="card bg-base-200 w-96 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">{item.name}</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
            <a href={item.link}><button class="btn btn-primary">Buy Now</button></a>
            </div>
          </div>
        </div>
      </li>
    ))}
  </ul>
</Layout>